name: Generate Pacman Graph

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate Pacman graph
        uses: YoussefRaafatNasry/pacman-contribution-graph@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: "sakshi1013-coder"
          output: "output/pacman.svg"

      - name: Push output
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: output
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
